@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
/**
 * Marc Duiker theme for reveal.js.
 *
 */
@font-face {
  font-family: 'Special Elite';
  font-weight: normal;
  font-style: normal; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #888;
  background-color: #888; }

.reveal {
  font-family: "Rokkitt", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #eee; }

::selection {
  color: white;
  background: #aaa;
  text-shadow: none; }

.reveal .sticky {
  position: absolute;
  z-index: 500;
  top: 15px;
  left: 15px;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  background-color: rgba(0, 0, 0, 0.3); 
}

.reveal .sticky p {
  opacity: 0.9;
  margin-bottom: 5px;
  color: #eee;
  font-family: 'Special Elite';
  font-size: 0.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.reveal .sticky p a {
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.reveal .sticky p a:hover {
  color: #222;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Special Elite", Verdana, sans-serif;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  }

.reveal h1 {
  font-size: 3em;
  margin-top: 3em;
}

.reveal h2 {
  margin-top: 0.5em;
  font-size: 1.7em;
}

.reveal h4 {
  font-size: 1.3em;
}

.reveal .darkshadow {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
}

.reveal .light {
  color: #eee;
}

.reveal .darkbg {
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.reveal small {
  font-style: italic;
  font-size: 0.7em;
  vertical-align: middle;
}

.reveal ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.reveal .left {
  text-align: left;
}



/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #666;
  text-shadow: none;
  border: none; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3); 
}

.reveal .controls div.enabled {
  opacity: 0.9;
}

.reveal .controls div.navigate-left {
  border-right-color: #000;
}

.reveal .controls div.navigate-left.enabled {
  border-right-color: #eee; }

.reveal .controls div.navigate-right {
  border-left-color: #000;
}

.reveal .controls div.navigate-right.enabled {
  border-left-color: #eee; }

.reveal .controls div.navigate-up {
  border-bottom-color: #000;
}
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #eee; }

.reveal .controls div.navigate-down {
  border-top-color: #000;
}
.reveal .controls div.navigate-down.enabled {
  border-top-color: #eee; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #999; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #999; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #999; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #999; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #13daec;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #666; }


